#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a ns8-paperless-ngx instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=ns8-paperless-ngx server
Before=paperless-pgsql.service paperless-redis.service
[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/ns8-paperless-ngx.pid %t/ns8-paperless-ngx.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/ns8-paperless-ngx.pid \
    --pod-id-file=%t/ns8-paperless-ngx.pod-id\
    --cidfile=%t/ns8-paperless-ngx.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_PORT}:8000 \
    --env-file=smarthost.env \
    ${PAPERLESS_NGX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/ns8-paperless-ngx.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/ns8-paperless-ngx.ctr-id
PIDFile=%t/ns8-paperless-ngx.pid
Type=forking

[Install]
WantedBy=default.target
