#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a paperless-gotenberg instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=Podman paperless-gotenberg server
BindsTo=paperlessngx-pod.service
After=paperless-redis.service paperless-pgsql.service ns8-paperless-ngx.service
[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/paperless-gotenberg.pid %t/paperless-gotenberg.ctr-id
ExecStartPre=/usr/local/bin/runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/paperless-gotenberg.pid \
    --pod-id-file=%t/ns8-paperless-ngx.pod-id \
    --cidfile=%t/paperless-gotenberg.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --env-file=smarthost.env \
    ${GOTENBERG_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/paperless-gotenberg.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/paperless-gotenberg.ctr-id
PIDFile=%t/paperless-gotenberg.pid
Type=forking

[Install]
WantedBy=default.target
