[Unit]
Description=Podman paperless-pgsql.service
BindsTo=paperlessngx-pod.service
Before=paperless-redis.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/paperless-pgsql.pid %t/paperless-pgsql.ctr-id
ExecStartPre=/bin/mkdir -p %S/state/restore/
ExecStart=/usr/bin/podman run --conmon-pidfile %t/paperless-pgsql.pid \
    --cidfile %t/paperless-pgsql.ctr-id --cgroups=no-conmon --pod-id-file %t/ns8-paperless-ngx.pod-id \
    --replace -d --name paperless-pgsql --env-file=%S/state/database.env \
    --volume postgres-data:/var/lib/postgresql/data:Z \
    ${POSTGRES_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/paperless-pgsql.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/paperless-pgsql.ctr-id
PIDFile=%t/paperless-pgsql.pid
Type=forking

[Install]
WantedBy=default.target