#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a ns8-vaultwarden instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=Podman ns8-vaultwarden server
BindsTo=vaultwarden.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/database.env
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/ns8-vaultwarden.pid %t/ns8-vaultwarden.ctr-id
ExecStartPre=/usr/local/bin/runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/ns8-vaultwarden.pid \
    --pod-id-file=%t/ns8-vaultwarden.pod-id \
    --cidfile=%t/ns8-vaultwarden.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --env-file=smarthost.env \
    --env=vaultwarden* \
    --env=SMTP_HOST={SMTP_HOST} \
    --env=SMTP_FROM={SMTP_FROM} \
    --env=SMTP_FROM_NAME=${SMTP_FROM_NAME} \
    --env=SMTP_SECURITY=${SMTP_ENCRYPTION} \
    --env=SMTP_PORT=${SMTP_PORT} \
    --env=SMTP_USERNAME=${SMTP_USERNAME} \
    --env=SMTP_PASSWORD=${SMTP_PASSWORD} \
    --env=SMTP_AUTH_MECHANISM=${SMTP_AUTH_MECHANISM} \
    --volume=vaultwarden-data:/data/ \
    ${SERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/ns8-vaultwarden.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/ns8-vaultwarden.ctr-id
PIDFile=%t/ns8-vaultwarden.pid
Type=forking

[Install]
WantedBy=default.target
